In [41]:
import pandas as pd

In [42]:
df = pd.read_csv('C:/Users/admin/Desktop/Assignment_DataScience/Company_Data.csv')
df

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,9.50,138,73,11,276,120,Bad,42,17,Yes,Yes
1,11.22,111,48,16,260,83,Good,65,10,Yes,Yes
2,10.06,113,35,10,269,80,Medium,59,12,Yes,Yes
3,7.40,117,100,4,466,97,Medium,55,14,Yes,Yes
4,4.15,141,64,3,340,128,Bad,38,13,Yes,No
...,...,...,...,...,...,...,...,...,...,...,...
395,12.57,138,108,17,203,128,Good,33,14,Yes,Yes
396,6.14,139,23,3,37,120,Medium,55,11,No,Yes
397,7.41,162,26,12,368,159,Medium,40,18,Yes,Yes
398,5.94,100,79,7,284,95,Bad,50,12,Yes,Yes
399,9.71,134,37,0,27,120,Good,49,16,Yes,Yes

In [43]:
X = df.iloc[:,1:]
X

,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,138,73,11,276,120,Bad,42,17,Yes,Yes
1,111,48,16,260,83,Good,65,10,Yes,Yes
2,113,35,10,269,80,Medium,59,12,Yes,Yes
3,117,100,4,466,97,Medium,55,14,Yes,Yes
4,141,64,3,340,128,Bad,38,13,Yes,No
...,...,...,...,...,...,...,...,...,...,...
395,138,108,17,203,128,Good,33,14,Yes,Yes
396,139,23,3,37,120,Medium,55,11,No,Yes
397,162,26,12,368,159,Medium,40,18,Yes,Yes
398,100,79,7,284,95,Bad,50,12,Yes,Yes
399,134,37,0,27,120,Good,49,16,Yes,Yes

In [44]:
Y = df['Sales']
Y

0       9.50
1      11.22
2      10.06
3       7.40
4       4.15
       ...
395    12.57
396     6.14
397     7.41
398     5.94
399     9.71
Name: Sales, Length: 400, dtype: float64

In [45]:
mean = df['Sales'].mean()
mean

7.496325

In [46]:
from sklearn.preprocessing import Binarizer
bn = Binarizer(threshold=7.49)
Y = bn.fit_transform(df[["Sales"]])
Y

array([[1.],
       [1.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [1.],
       [1.],
       [0.],
       [0.],
       [1.],
       [1.],
       [1.],
       [0.],
       [1.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [1.],
       [1.],
       [0.],
       [1.],
       [1.],
       [1.],
       [1.],
       [0.],
       [0.],
       [1.],
       [1.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [1.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [1.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [1.],
       [0.],
       [1.],
       [1.],
       [1.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [1.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [0.],
       [1.],
       [1.],
       [1.],
       [1.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [1.],
       [1.],
       [0.],
       [1.],
       [0.],
       [1.],
       [1.],
       [1.],
       [0.],
       [0.],
       [1.],
       [1.],
       [1.],
       [0.],
       [0.],
       [1.],
       [1.],
       [1.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [1.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [0.],
       [1.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [1.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [1.]])

In [47]:
from sklearn.preprocessing import OrdinalEncoder,OneHotEncoder

In [48]:
from sklearn.compose import ColumnTransformer
transformer = ColumnTransformer(transformers = [('tnf1', OrdinalEncoder(categories = [['Bad','Medium','Good']]),['ShelveLoc']),
                                                ('tnf2', OneHotEncoder(sparse = False, drop = 'first'),['Urban','US'])
                                                ], remainder = 'passthrough')

In [49]:
trans_X = transformer.fit_transform(X)
trans_X

array([[  0.,   1.,   1., ..., 120.,  42.,  17.],
       [  2.,   1.,   1., ...,  83.,  65.,  10.],
       [  1.,   1.,   1., ...,  80.,  59.,  12.],
       ...,
       [  1.,   1.,   1., ..., 159.,  40.,  18.],
       [  0.,   1.,   1., ...,  95.,  50.,  12.],
       [  2.,   1.,   1., ..., 120.,  49.,  16.]])

In [50]:
New_X = pd.DataFrame(trans_X)

In [51]:
New_X.columns = list(X)
New_X

,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,0.0,1.0,1.0,138.0,73.0,11.0,276.0,120.0,42.0,17.0
1,2.0,1.0,1.0,111.0,48.0,16.0,260.0,83.0,65.0,10.0
2,1.0,1.0,1.0,113.0,35.0,10.0,269.0,80.0,59.0,12.0
3,1.0,1.0,1.0,117.0,100.0,4.0,466.0,97.0,55.0,14.0
4,0.0,1.0,0.0,141.0,64.0,3.0,340.0,128.0,38.0,13.0
...,...,...,...,...,...,...,...,...,...,...
395,2.0,1.0,1.0,138.0,108.0,17.0,203.0,128.0,33.0,14.0
396,1.0,0.0,1.0,139.0,23.0,3.0,37.0,120.0,55.0,11.0
397,1.0,1.0,1.0,162.0,26.0,12.0,368.0,159.0,40.0,18.0
398,0.0,1.0,1.0,100.0,79.0,7.0,284.0,95.0,50.0,12.0
399,2.0,1.0,1.0,134.0,37.0,0.0,27.0,120.0,49.0,16.0

In [185]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(New_X,Y,train_size = 0.7,random_state = 24)

In [186]:
from sklearn.tree import DecisionTreeRegressor
dc = DecisionTreeRegressor(max_depth = 4)
dc.fit(X_train,Y_train)

DecisionTreeRegressor(max_depth=4)

In [187]:
Y_pred_train = dc.predict(X_train)
Y_pred_test = dc.predict(X_test)

In [188]:
print("Total number of node",dc.tree_.node_count)

Total number of node 31

In [189]:
print("Total number of node",dc.tree_.max_depth)

Total number of node 4

In [190]:
from sklearn.metrics import r2_score

print('Training Accuracy: ',r2_score(Y_train,Y_pred_train).round(2))
print('Test Accuracy: ',r2_score(Y_test,Y_pred_test).round(2))

Training Accuracy:  0.52
Test Accuracy:  0.34